@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    width: 520px;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 100px auto;
}

.head-login {
    position: relative;
    padding: 19px 0 17px;
    border-bottom: 1px solid #c4c4c4;
}
.head-login .txt-login {
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: center;
}
.head-login .img-close {
    position: absolute;
    top: 22px;
    left: 480px;
    width: 16px;
    height: 16px;
}

.form-login {
    padding: 26px 23px 24px;
}

.cont-login .txt-welcome {
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 24px;
}
.cont-login .blank {
    width: 472px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 15px;
}
.cont-login .blank::placeholder {
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}
.cont-login .myId {
    margin-bottom: 10px;
}
.cont-login .myPw {
    margin-bottom: 16px;
}

.cont-login .txt-check {
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    vertical-align: baseline;
    margin-bottom: 20px;
}
.cont-login .txt-check .img-check {
    margin-right: 8px;
    vertical-align: bottom;
}

.cont-login .btn-login {
    width: 472px;
    height: 50px;
    background-color: #2f80ed;
    border: none;
    border-radius: 5px;
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.cont-login .signup-lost {
    margin: 20px 0 30px;
}
.cont-login .signup-lost a {
    text-decoration: none;
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    /* vertical-align: top; */
}
.cont-login .signup-lost .signup {
    display: inline-block;
}
.cont-login .signup-lost .signup::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #767676;
    margin-right: 12px;
    margin-left: 13px;
    vertical-align: middle;
}
.cont-login .signup-lost .lost {
    display: inline-block;
}

.btn-sns {
    text-align: center;
}
.btn-sns .txt-or {
    position: relative;
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    margin-bottom: 20px;
}
.btn-sns .txt-or::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 210px;
    height: 1px;
    background-color: #c4c4c4;
}
.btn-sns .txt-or::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    width: 210px;
    height: 1px;
    background-color: #c4c4c4;
}

.btn-sns .btn {
    display: block;
    background: #ffffff;
    border: 1px solid #767676;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    padding: 14px 0;
    margin: 10px 0;
    /* position: relative; */
}
.btn-sns .logo-google {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 11px;
    top: 10px;
}
.btn-sns .google {
    position: relative;
}

.btn-sns .logo-facebook {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 11px;
    top: 10px;
}
.btn-sns .facebook {
    border-color: #2d9cdb;
    position: relative;
}

.btn-sns .logo-naver {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 11px;
    top: 10px;
}
.btn-sns .naver {
    border-color: #00bf18;
    position: relative;
}

.btn-sns .logo-kakao {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 11px;
    top: 10px;
}
.btn-sns .kakao {
    border-color: #f2c94c;
    position: relative;
}
