@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-family: "SpoqaHanSansNeo-Regular";
}
a {
    text-decoration: none;
    color: black;
}

.wrap {
    position: relative;
    width: 350px;
    height: 140px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 5px;
}

.head {
    position: absolute;
    left: 18px;
    top: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.login {
    position: absolute;
    width: 318px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #711bff;
    border-radius: 4px;
}
.login a {
    display: block;
    width: 102px;
    margin: 0 auto;
}
.login img {
    width: 64px;
    height: 18px;
    vertical-align: middle;
}
.login p {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

footer img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #767676;
    display: inline-block;
}

.forgot {
    position: absolute;
    bottom: 5px;
    left: 17px;
}
.forgot span {
    display: inline-block;
    height: 11px;
    border-left: 1px solid #767676;
    margin: 0 5px;
}

.signIn {
    position: absolute;
    bottom: 5px;
    right: 17px;
}
