@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto&display=swap");

.selectbox {
    appearance: none;
    width: 200px;
    height: 40px;
    display: block;
    margin: 100px auto;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 13px;
    background: url(img/icon-Triangle-down.png) no-repeat right 9px center;
}
.selectbox:invalid {
    font-family: "Nanum Pen Script", cursive;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.selectbox option:first-child {
    display: none;
}
